/*--------------------------------------------------------------
Preloader
--------------------------------------------------------------*/
.preloader{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: 100;
    opacity: 1!important
}

.loader-circle, .loader-circle-small {
    border: 5px solid #e5e5e5;
    border-top-color: var(--tree-poppy);
    height: 40px;
    width: 40px;
    border-radius: 100%;
    -webkit-animation: spin 1.5s linear infinite;
    -o-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
    z-index: 101
}

.loader-circle-small{
    height: 20px;
    width: 20px;
    border-width: 3px;
}

.preloader span{
    margin-top: 20px;
    color: #888
}

input[type="checkbox"] {
    display: inline-block!important;
}

.form-preloader{
    position: relative;
}

@keyframes spin {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg)
    }
}

/*--------------------------------------------------------------
SWEETALERT2
--------------------------------------------------------------*/
.swal2-popup {
    padding: 3rem !important
}

.swal2-popup .swal2-title {
    font-weight: 600 !important;
    font-size: 15px !important;
    margin: 0 0 1rem !important
}

.swal2-popup #swal2-content {
    font-weight: 400 !important;
    font-size: 14px!important;
}

.swal2-popup .btn {
    margin: 15px 5px 0 !important
}

.swal2-popup .swal2-styled:focus {
    box-shadow: none !important
}

.swal2-container {
    overflow-y: hidden !important
}

body.swal2-height-auto {
    height: 100% !important
}

.swal2-container.swal2-shown {
    background-color: rgba(0, 0, 0, 0.2) !important
}

.swal2-popup .swal2-title {
    color: #48465b !important
}

.swal2-popup #swal2-content {
    color: #74788d !important
}

.swal2-popup #swal2-content a {
    color: #444;
    font-weight: 400;
    text-decoration: underline;
    margin-top: 5px
}

.swal2-popup .swal2-styled.swal2-confirm,
.swal2-popup .swal2-styled.swal2-cancel{
    font-size: 13px!important;
    font-weight: bold!important;
}


