.input-danger {
    border-color: #f0506e !important;
}

.auth-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-forms{
    width: 500px;
    margin-top: 30px;
    position: relative;
}
